<% content_for :title, "Forbidden" %>
<h1>Invalid Authentication Request</h1>
<article>
  <p>Your authentication request could not be completed. Please try again later.</p>
  <p><%= mail_to "workshop-support@cloud.gov", "Submit a support request with Workshop" %> if this continues.</p>
</article>
