<h1>SAML Proxy</h1>
<article>
  <p>This application bridges requests from SAML service providers to cloud.gov UAA</p>
  <p><%= link_to "Source", "https://gsa.gitlab-dedicated.us/TKTK" %></p>
</article>
