<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "SAML Proxy" %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <% if Rails.env.production? %>
      <%= content_tag(:style, nonce: content_security_policy_nonce) do %>
        body { visibility: hidden; }
      <% end %>
    <% end %>
    <%= javascript_tag nonce: true do %>
      document.addEventListener('DOMContentLoaded', () => {
        var form = document.forms[0];
        if (form) form.submit();
      })
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
